<div class="container">
    <div class="row">
        <h2 class="font_img">編集ページ</h2>
        <%= render 'diaries/error-message', model: @diary %>
        <%= render 'diaries/new-diary', diary: @diary %>
    </div>
</div>

