<div class="container" style="margin-top: 100px;">
<div class="row">
	<div class="page-header">
		<h3> マイカレンダー </h3>
	</div>
</div>
<div class="row">
	<%= link_to 'スケジュール登録', new_event_path, class: 'btn btn-success' %>
	<div id="calendar"></div><br />
</div>
</div>
