<div class="container" style="margin-top: 100px;">
	<div class="row">
		<div class="col-md-3 col-xs-12"></div>
			<div class="col-md-6 col-xs-12">
				<h2 class="font_img">スケジュール登録</h2>
				<%= render 'events/new-event', event: @event %>
			</div>
		<div class="col-md-3 col-xs-12"></div>
	</div>
</div>
