<div class="container" style="margin-top: 100px;">
	<div class="row">
      <span class="about_main">Q O H</span><span class="about_text">quarity ~ of ~ health</span><br>
      <p>体はあなただけの大切な資産です！　健康に意識した生活を行い、他の人と共有しましょう！</p>
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="font-size: 200px; color: #90EE90" >
	</div>
</div>