<div id="header" style="padding-top: 100px">
	  <div class="center" id="headerc">
		<div class="middle">
	     <span class="about_main">Welcome To QOH<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></span>
	     <br>
	     <span class="about_main2">quarity ~ of ~ health</span>
		</div>
	  </div>
</div>



<div id="page">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-12"></div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<p class="about_text_4">QOHとは？</p><br>
				<p class="about_text_3">『普段の何気ない生活を管理する』</p><br>
				<p class="about_text_2">普段の生活習慣を意識した毎日を過ごせていますか？<br>
					                    ほとんどの方が意識できていないと思われます。<br>
					                    しかし、その生活習慣が災いとなり、病気を患ってしまうと大変です。<br>
					                    このサイトは、そんな生活習慣を管理し、<br>
					                    病気を未然に防ぐことを目的としたサイトです。
				</p>
		    </div>
		<div class="col-md-3 col-sm-3 col-xs-12"></div>
	</div>
	<div class="box"></div>
	<div class="row">
		<p style="font-size: 40px; text-align: center;">サイトの使い方</p>
		<div class="box"></div>
		<div class="col-md-6 col-sm-6 col-xs-12"><%= image_tag 'log_in.png', size:'500x300', class: 'about_img' %></div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<p class="about_text_3">1. 登録しよう！</p>
			<p class="about_text_2">本サイトは、会員登録されていない方の投稿及び<br><br>
		                            投稿内容の閲覧は不可となっております。<br><br>
			                        自分の日記を発信したり、他のユーザーと交流するといった<br><br>
			                        全ての機能をご利用いただくには会員登録が必要です。<br><br>
			                        登録における所要時間は1分程度です！<%= link_to '『登録する』', new_user_registration_path %>
			</p>
		</div>
	</div>
	<div class="box"></div>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
		   <p class="about_text_3">2. 投稿しよう！</p>
		   <p class="about_text_2">登録が済みましたら、まずは新規投稿画面から投稿してみましょう。<br><br>
		                           自分のその日1日の出来事や、実績などを投稿し、共有しましょう。<br><br>
		                           また、他のユーザーの投稿にコメントを残したり<br><br>
		                           いいねボタンを押して、交流を深めましょう！</p>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12"><%= image_tag 'submit.png', size:'500x300', class: 'about_img2' %></div>
	</div>
	<div class="box"></div>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12"><%= image_tag 'time.png', size:'500x300', class: 'about_img' %></div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<p class="about_text_3">3. 自分の記録を管理しよう！</p>
	        <p class="about_text_2">本サイト最大の特徴は、管理機能に特化している点です。<br><br>
	        	　自分の投稿内容の実績はマイページから管理することが可能です。<br><br>
	        	                    また、マイカレンダーを自由に使い、自らの生活習慣を<br><br>
	        	                    より管理しやすいように工夫してみましょう！
	        </p>
	    </div>
	</div>
	<div class="box"></div>
</div>



