<%= link_to home_about_path do %>
<div class="container">
  <div class="row">
		<div class="main">
		  <h1 class="main-heading">
		    <span class="main-heading-primary">Q O H       <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></span>
		    <span class="main-heading-secondary">quarity ~ of ~ health</span>
		  </h1>
		</div>
  </div>
</div>
<% end %>
