.about_main {
	font-size: 45px;
	color: #90EE90;
}

.about_text {
	font-size: 30px;
	color: #90EE90;
}


html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Varela Round";
  background: #444444;
}
#header {
  background: url("about1.png") no-repeat center top;
  background-size: cover;
  position: fixed;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  
  .center {
    background: rgba(0,0,0,0.25);
    text-align: center;
    position: absolute;
    color: #FFFFFF;
    color: #F5F7FA;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    
    .middle {
      position: absolute;
      margin-top: -8em;
      right: 0;
      left: 0;
      top: 50%;

      h1 {
        font-family: "Lusitana";
        font-weight: normal;
        line-height: 1em;
        font-size: 11em;
        margin: 0;
      }
      span {
        line-height: 5em;
        font-size: 1em;
      }
    }
  }
}

$pageTopDecrease: 20px;
$hrBoxBorderLength: 40px;
$hrBgColor: #48CFAD;
$hrColor: #FFFFFF;
$hrSize: 5px;

#pageHr {
  background: $hrColor;
  position: relative;
  height: $hrSize;
  display: block;
  right: 0px;
  left: 0px;
  top: 90%;
  z-index: 1;

  > i {
    margin: -($hrBoxBorderLength/2+$hrSize);
    border: $hrSize solid $hrColor;
    height: $hrBoxBorderLength;
    width: $hrBoxBorderLength;
    background: $hrBgColor;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;

    > i {
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      line-height: $hrBoxBorderLength*0.92;
      font-size: $hrBoxBorderLength/2;
      height: $hrBoxBorderLength;
      width: $hrBoxBorderLength;
      text-align: center;
      position: absolute;
      color: $hrColor;
      display: block;
    }
  }
}

#page {
  //border-top: $pageTopDecrease solid $hrColor;
  background: #fff;
  position: relative;
  //margin-top: -($pageTopDecrease);
  top: 90%;
	padding: 10% 40px;
	

	a {
		color: #fff;
	}
}

.about_text_4 {
	font-size: 40px;
	text-align: center;
}

.about_text_3 {
	font-size: 30px;
	text-align: center;
}

.about_text_2 {
	font-size: 20px;
	text-align: center;
}

.about_img {
  position: relative;
	margin-bottom: 10px;
	border-radius: 8%;
}

.about_img2 {
	border-radius: 8%;
	margin-bottom: 10px;
}

.about_point {
	font-size: 30px;
	margin-left: 200px;
}

.about_main {
	font-size: 70px;
	color: #fff;
	animation: moveInLeft 4s ease-out;
}

.about_main2 {
	font-size: 35px;
	color: #fff;
	margin-left: 100px;
	animation: moveInLeft 4s ease-out;
}








