

.container {
	margin-top: 100px;
}

.site_name {
	color: #fff;
	font-size: 40px;
	margin-left: 30px;
}

.site_name_min {
	color: #fff;
}

.devise_post {
	margin: 70px 400px 0px 400px;
}

.datetime-form {
  display: inline-block;
  width: auto;
}

.index_diary {
	margin-bottom: 10px;
}

.index_img {
	margin-left: 60px;
}


.box {
	margin-bottom: 10px;
    border: solid 3px #90EE90;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.box2 {
	margin-bottom: 10px;
    border: solid 3px #00ffff;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.box_user {
 	border: solid 3px #90EE90;
 	border-radius: 10px;
 }

 .show_back {
 	background-color: #90EE90;
 }

 .comment_back {
 	background-color: #00ffff;
 }

 .show_tag {
 	float: left;
 }

 
.bt_del {
	float: right;
	margin-right: 10px;
}

.tag_area {
	font-size: 15px;
}

.background {

}

.show_icon {
	font-size: 15px;
	margin-right: 30px;
	padding: 10px 0px 10px 20px;
}

.icon_area {
	padding: 10px 0px 10px 20px;
}

.icon_tag {
	margin-right: 5px;
}

.img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

.img_prev_diary:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
  border-radius: 7%;
}

.appli_img {
 	border-radius: 50%;
 }

.appli_img2 {
	border-radius: 50%;
}

.appli_img2:hover {
	cursor: pointer;
    opacity: 0.7;
    transform: scale(1.01, 1.01);
}

.appli_img3 {
	border-radius: 7%;
}

.appli_img3:hover {
	cursor: pointer;
    opacity: 0.7;
    transform: scale(1.01, 1.01);
}

.font_img {
	text-align: center;
	font-family: arial unicode ms;
	padding: 0.5em;
    background: aliceblue;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}

.diary_point {
	margin-left: 60px;
	background-color: #cde4ff;
	font-size: 15px;
}


.footer_back {
	background-color: #90EE90;
}

.head_icon {
	color: #fff;
}





