.main {
  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #90EE90;
}

.main-heading {
  color: #fff;
  text-transform: uppercase;
}

.main-heading-primary {
  display: block;
  font-size: 8.0rem;
  font-weight: 400;
  letter-spacing: 10px;
  animation: moveInLeft 1s ease-out;
}

.main-heading-secondary {
  font-family: sans-serif;
  display: block;
  font-size: 3.5rem;
  font-weight: 1000;
  text-align: center;
  letter-spacing: 10px;
  color: hotpink;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  
  80% {
    transform: translateX(10px);
  }
  
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  
  80% {
    transform: translateX(-10px);
  }
  
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

